parameters:
    earlyTerminatingMethodCalls:
        SilverStripe\Control\Controller:
            - redirect
    universalObjectCratesClasses:
        - SilverStripe\View\ArrayData
        - SilverStripe\Core\Config\Config_ForClass
        - SilverStripe\ORM\DataObject
    excludes_analyse:
        - silverstripe-cache
    ignoreErrors:
        # Ignore object errors (PHPStan can't understand classes called "Object")
        - '%Call to an undefined method object::%'
    autoload_files:
        - %rootDir%/../../../silverstripe/framework/thirdparty/php-peg/Compiler.php
